.mainPage {
  background-color: #404141;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.leftMenuOpen {
  position: fixed;
  width: 300px;
  min-height: 100vh;
  border-right: 2px solid #505050;
  background-color: #2a2b2ba4;
  z-index: 100;
  transition: all 0.4s linear;
}
.leftMenuClose {
  position: fixed;
  width: 100px;
  min-height: 100vh;
  border-right: 2px solid #505050;
  background-color: #2a2b2b;
  z-index: 100;
  transform: translate(-0px);
  transition: all 0.4s linear;
}

.menuList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  font-size: 20px;
  color: #f87060;
  margin-top: 100px;
  row-gap: 30px;
}
.menuList li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #f87060;
  text-decoration: none;
  transition: transform 0.2s linear;
}
.menuList a:hover {
  color: white;
  transform: translateY(-2px);
  transition: transform 0.2s linear;
}
.iconHome,
.iconNote {
  transition: transform 0.5s linear;
  transform: translate(120px);
}
.iconSearch {
  transform: translate(140px);
  transition: transform 0.5s linear;
}
.iconHomeClose,
.iconNoteClose,
.iconSearchClose {
  transition: transform 0.5s linear;
  transform: translate(0px);
}

.buttonOpenMenu {
  position: absolute;
  top: 10px;
  left: 250px;
  transition: transform 0.5s linear;
  background-color: transparent;
  color: #f87060;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.buttonCloseMenu {
  position: absolute;
  top: 10px;
  left: 250px;
  transition: transform 0.5s linear;
  background-color: transparent;
  color: #f87060;
  border: none;
  font-size: 30px;
  transform: translate(-220px);
  cursor: pointer;
}

.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border-radius: 50%;
  border: 20px solid rgb(0, 0, 0);
  border-left: 20px solid rgb(250, 0, 0);
  animation: loader 1s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
